.filters {
	line-height: initial;
	margin: 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	width: 40%;
}

.filter {
	width: calc(100% - 10px);
	margin: 0 15px;
}

.filter_title {
	margin: 10px 0 5px 0;
	font-size: 16px;
	color: black;
}

.filter input,
.filter button {
	border: none;
	padding: 5px 10px;
	background: #d67800;
	color: white;
	font-size: 14px;
	margin: 0 5px 5px 0;
	outline: none;
	cursor: pointer;
	min-width: 100px;
}

.filter button:hover {
	opacity: 0.7;
}

.filter input {
	cursor: initial;
	padding: 10px;
}

.filter input::placeholder {
	color: white;
	opacity: 0.5;
}