.filters {
	line-height: initial;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
	width: 100%;
	background: #506097;
}

.filter {
	min-height: 100px;
	color: black;
	width: calc(50% - 30px);
	margin: 0 15px;
}

.filter_title {
	margin: 5px 0 5px 0;
	font-size: 14px;
	color: whitesmoke;
}

.filter input,
.filter button {
	border: none;
	padding: 5px;
	background: whitesmoke;
	color: #506198;
	margin: 0 5px 5px 0;
	outline: none;
	cursor: pointer;
	min-width: 100px;
}

.filter button:hover {
	opacity: 0.7;
}

.filter input {
	cursor: initial;
	padding: 10px;
}

.filter input::placeholder {
	color: #506198;
	opacity: 0.5;
}