.header {
	background: #d67800;
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	line-height: 50px;
	z-index: 2;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.header a {
	color: white;
}


.header a:hover {
	opacity: 0.7;
}


.header_logo {
	width: auto;
	height: 35px;
}

.header_menu {
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0 10px;
}

.header_menu > * {
	margin-right: 20px;
	display: inherit;
}