.header {
	background: #506198;;
	position: fixed;
	height: 200px;
	top: 0;
	left: 0;
	right: 0;
	line-height: 200px;
	z-index: 2;
	color: white;
}

.header a {
	color: white;
}


.header a:hover {
	opacity: 0.7;
}


.header_logo {
	width: auto;
	height: 60px;
}

.header_menu {
	display: flex;
	align-items: center;
	flex-direction: row;
	max-width: 1000px;
	margin: 0 auto;
}

.header_menu > * {
	margin-right: 20px;
	display: inherit;
}