.header {
	background: #d67800;
	position: fixed;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	line-height: 50px;
	z-index: 1101;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

.header a {
	color: white;
}


.header a:hover {
	opacity: 0.7;
}


.header_logo {
	width: auto;
	height: 35px;
}

.header_menu {
	overflow: hidden;
	background: #d67800;
	position: relative;
	z-index: 1103;
	white-space: nowrap;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0 10px;
	height: 100%;
}

.header_menu > * {
	margin-right: 10px;
	height: 50px;
	padding-top: 12px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	display: inherit;
}

.header_menu > *:last-child {
	margin-right: 0;
}


.header_menu .neural-link-wrapper {
	padding-top: 0;
}

.header_menu .neural-link-wrapper > a {
	padding-top: 9px;
}


.header_menu .header_menu-favorites {
	color: black;
	font-size: 18px;
	line-height: 28px;
	padding-top: 11px;
}
.header_menu .header_menu-favorites:hover {
	text-decoration: none;
}

.neural-link-wrapper > span {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin-top: 12px;
	margin-left: -13px;
}

.header_drop_down {
	cursor: default;
	position: absolute;
	background: #d67800;
	transition: .3s top;
	right: 0;
	z-index: 1102;
	padding-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header_drop_down > li {
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	padding: 0 10px;
}

.header_drop_down > li:hover {
	opacity: 0.5;
}