html {
	height: 100%;
}

body {
	padding-top: 50px;
	font-size: 14px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	overflow-y: scroll;
}


h1 {
	font-size: 20px;
	margin: 10px 0 20px 0;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.cssload-loader-big > .cssload-loader {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
}

a {
	display: block;
	cursor: pointer;
	color: #2876b4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.ReactVirtualized__Grid {
	outline: none;
	overflow-y: scroll;
	padding-right: 17px;
	box-sizing: content-box;
}

input,
input:-webkit-autofill {
	border: none;
	padding: 5px;
	display: block;
	margin: 5px 0 10px 0;
	color: white;
	outline: none;
	background: #d67800 !important;
}

button {
	padding: 10px 15px;
	margin: 5px 0;
	font-size: 12px;
	background: #d67800;
	color: whitesmoke;
	outline: none;
	border: none;
	cursor: pointer;
	transition: 1s opacity;
}

button:hover {
	opacity: 0.7;
}


input::placeholder {
	color: white;
	opacity: 0.5;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.rotating {
	animation: rotating 15s linear infinite;
}