html {
	height: 100%;
}

body {
	margin-top: 50px;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	overflow-y: scroll;
	height: 100%;
}


h1 {
	font-size: 20px;
	margin: 10px 0 20px 0;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.cssload-loader-big > .cssload-loader {
	margin: 0 auto;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
}

a {
	display: block;
	cursor: pointer;
	color: #2876b4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.ReactVirtualized__Grid {
	outline: none;
	overflow-y: scroll;
	padding-right: 17px;
	box-sizing: content-box;
}