.net-info {
    max-width: 1100px;
    padding: 0 10px;
    margin: 30px auto;
}

.net-info-title {
    margin: 30px 0 10px 0;
    font-size: 18px;
    color: #d67800;
}

.net-info-row {
    background: whitesmoke;
    margin: 5px 0;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.net-info-details-block {
    width: 100%;
    overflow: hidden;
}

.net-info-details-block  .interface-player {
    padding: 0;
}


.net-info-details-block-hide-player-name .interface-player-info a {
    display: none;
}