.net-info {
    max-width: 900px;
    padding: 0 10px;
    margin: 50px auto;
}

.net-info-title {
    margin: 30px 0 10px 0;
    font-size: 18px;
    color: #d67800;
}

.net-info-row {
    background: whitesmoke;
    margin: 5px 0;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.net-info-details-button {
    border: none;
    float: right;
    cursor: pointer;
    color: whitesmoke;
    background: #d67800;
    outline: none;
    padding: 5px;
}

.net-info-details-button:hover {
    opacity: 0.7;
}

.net-info-details-block {
    width: 100%;
    margin-top: -34px;
    padding-top: 10px;
    overflow: hidden;
}