/* Side menu */
/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    display: none;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    top: 50px;
    bottom: 0;
    background: white;
}

/* General sidebar styles */
.bm-menu {
    padding: 10px;
    background: whitesmoke;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0;
}

/* Individual item */
.bm-item {
    display: inline-block;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* Styling of overlay */
.bm-overlay {
    top: 50px;
    bottom: 0;
    background: transparent !important;
}