.interface-player {
    background: whitesmoke;
    color: black;
    position: relative;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.interface-player .cssload-loader {
    margin: 75px auto;
    min-width: 50px;
    min-height: 50px;
}


.interface-player-chart {
    width: 55%;
    height: 250px;
}

@media screen and (max-width: 700px) {
    .interface-player-chart {
        width: 100%;
        margin-top: 5px;
        height: 200px;
    }
}

.interface-player-form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.interface-player-form-inputs {
    display: flex;
    max-width: 418px;
    min-width: 280px;
    justify-content: space-between;
}

.interface-player-form-inputs span {
    color: #0606068a;
}

.interface-player-form-inputs input {
    color: #d67801;
    margin: 0;
    width: 30px;
    height: 20px;
    font-size: 15px;
    background: white !important;
    border-bottom: 1px solid #f77f11;
}

.interface-player-form-inputs button {
    margin: 0;
    min-height: auto;
    height: 36px;
    line-height: 11px;
}