.interface-refresh-btn {
    position: fixed;
    z-index: 5;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #2196F3;
    padding: 10px;
    opacity: 0.8;
    bottom: 28px;
    transition: 3s all;
}

.interface-refresh-btn:hover {
    opacity: 1;
    background: #d67800;
    padding: 1px;
}