.interface-player-info {
    display: flex;
    flex-wrap: wrap;
}

.interface-player-info > * {
    width: 100%;
}

.interface-player-info > a {
    width: calc(100% - 18px);
}


@media screen and (max-width: 700px) {
    .interface-player-info {
        width: 100% !important;
    }
}

.interface-player-info > p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}


.interface-player-info > i {
    font-size: 11px;
    margin-bottom: 3px;
    color: dimgrey;
}


.interface-player-info-block {
    font-size: 12px;
    margin: 15px 0 0 0;
}

.interface-player-info-block > div {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 5px 0;
    border-bottom: 1px solid white;
}

.interface-player-info-block > div:hover {
    border-bottom: 1px solid #d67800;
}


.interface-player-favorite {
    font-size: 18px;
    width: 18px;
    cursor: pointer;
}

.interface-player-favorite:hover {
    opacity: 0.7;
}