.interface-player {
    background: whitesmoke;
    color: black;
    margin: 10px 0;
    height: 360px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-end;
}

.interface-player .cssload-loader {
    margin: 100px auto;
}

.interface-player-info {
    width: 50%;
}

.interface-player-chart {
    width: 50%;
    height: 250px;
}

.interface-player-form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}

.interface-player-form-inputs {
    display: flex;
    max-width: 418px;
    min-width: 280px;
    justify-content: space-between;
}